<div class="col col-6">
    <button type="button" class="btn-off" data-type="mod" data-id="7">Фары</button>
    <button type="button" class="btn-off" data-type="mod" data-id="3">Противотуманки</button>
    <button type="button" class="btn-off" data-type="mod" data-id="4">Стробоскоп</button>
    <button type="button" class="btn-off" data-type="mod" data-id="5">Правый поворотник</button>
    <button type="button" class="btn-off" data-type="mod" data-id="6">Левый поворотник</button>
</div>
<div class="col col-6">
    <button type="button" class="btn-off" data-type="btn" data-id="2">Кнопка B</button>
    <button type="button" class="btn-off" data-type="btn" data-id="1">Кнопка C</button>
    <button type="button" class="btn-off" data-type="btn" data-id="0">Кнопка D</button>
    <button type="button" class="btn-off" data-type="btn" data-id="3">Кнопка E</button>
    <button type="button" class="btn-off" data-type="btn" data-id="4">Кнопка F</button>
    <button type="button" class="btn-off" data-type="speaker">Гудок</button>
</div>